<form
  *ngIf="characterForm"
  [formGroup]="characterForm"
  (submit)="saveCharacter()"
>
  <div>
      <input class="form__input" type="text" formControlName="firstName">
      <p class="error" *ngIf="!characterForm.get('firstName')?.valid && characterForm.get('firstName')?.dirty">
          Firstname is required
      </p>

      <input class="form__input" type="text" formControlName="lastName">
      <p class="error" *ngIf="!characterForm.get('lastName')?.valid && characterForm.get('lastName')?.dirty">
          Lastname is required
      </p>

      <input class="form__input" type="text" formControlName="fullName">
      <p class="error" *ngIf="!characterForm.get('fullName')?.valid && characterForm.get('fullName')?.dirty">
          Fullname is required
      </p>

      <input class="form__input" type="text" formControlName="title">
      <p class="error" *ngIf="!characterForm.get('title')?.valid && characterForm.get('title')?.dirty">
          Title is required
      </p>

      <input class="form__input" type="text" formControlName="family">
      <p class="error" *ngIf="!characterForm.get('family')?.valid && characterForm.get('family')?.dirty">
          Family is required
      </p>
  </div>
  <button class="form__button" type="submit"
  [disabled]="!characterForm.valid">Send</button>
</form>
