.character {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: 2px 5px 29px #343a40;
}

.character__img {
  border-radius: 20px;
  width: 300px;
  height: 350px;
  object-fit: cover;
}
