<!--uso ngIf para que me muestre el character sólo si está definido-->
<div class="character" *ngIf="character">
  <img class="character__img" [src]="character.imageUrl" />
  <p class="character__fullName">{{ character.fullName }}</p>
  <p class="character__title">{{ character.title }}</p>
  <p class="character__family">{{ character.family }}</p>
  <button 
  class="character__delete" 
  *ngIf="canDelete"
  (click)="onDelete()"
  >Delete</button>
  <a [routerLink]="['/detail, character.id']">Ver más</a>
</div>
<!--Creo una función onDelete() de hijo a padre para eliminar.
La genero en el TS-->