.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  -webkit-box-shadow: 2px 5px 29px #343a40;
          box-shadow: 2px 5px 29px #343a40;
}

.character__img {
  border-radius: 20px;
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=character.component.css.map */