<p>Character List</p>
<!--Añado la acción onEdit en TS para que exista-->
<button (click)="onEdit()">Edit</button>
<!--creo un input [()] para modificar tanto flujo de entrada como de salida
Será necesario importar FormsModule en app.Module.ts
Y creo propiedad para guardar el valor del input-->
<input [(ngModel)]= "filterValue" (change)= "onFilter()">
<div class="character-list">
  <!-- con ngFor creo un personaje por cada personaje que tengo y lo comunico con su padre con inputs y outputs-->
  <!--con los [] cojo cada uno de los characters y se los paso como argumento al componente character-->
  <app-character class="character-block"
    *ngFor="let character of filteredCharacters"
    [character]="character"
    [canDelete]="canEdit"
    (delete)="onDelete(character.id)"
  ></app-character>
</div>
<input [(ngModel)]="message">
<app-filter></app-filter>
<button (click)="sendMessage()">Send</button>